n8n-exotel-outbound-workflows.json
{
  "id": "1",
  "name": "Exotel Outbound (All Webhooks)",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000001",
  "meta": {
    "instanceId": "00000000-0000-0000-0000-000000000000"
  },
  "tags": [],
  "nodes": [
    {
      "id": "WebhookStart",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "parameters": {
        "path": "exotel/outbound/start",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "exotel_outbound_start"
    },
    {
      "id": "SetStartVars",
      "name": "Set Start Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [420, 200],
      "parameters": {
        "values": {
          "string": [
            { "name": "EXOTEL_SID", "value": "campusdekhoai1" },
            { "name": "EXOTEL_TOKEN", "value": "d47430e13469e2781d7b642b8cfe52f03b45215c9c37955f" },
            { "name": "EXOTEL_FROM_NUMBER", "value": "095-138-86363" },
            { "name": "BASE_URL", "value": "https://synthomind.cloud" },
            { "name": "phone", "value": "={{$json.body.phone || '+918208507457'}}" },
            { "name": "name", "value": "={{$json.body.name || 'Student'}}" }
          ]
        }
      }
    },
    {
      "id": "BuildExotelAuth",
      "name": "Build Exotel Auth",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [640, 200],
      "parameters": {
        "functionCode": "const sid = $json.EXOTEL_SID;\nconst token = $json.EXOTEL_TOKEN;\nconst auth = Buffer.from(`${sid}:${token}`).toString('base64');\nreturn [{ auth }];"
      }
    },
    {
      "id": "ExotelCall",
      "name": "Exotel Call Connect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 200],
      "parameters": {
        "url": "https://api.exotel.com/v1/Accounts/{{$json.EXOTEL_SID}}/Calls/connect.json",
        "method": "POST",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Content-Type", "value": "application/x-www-form-urlencoded" },
          { "name": "Authorization", "value": "={{'Basic ' + $json.auth}}" }
        ],
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": [
          { "name": "From", "value": "={{$json.EXOTEL_FROM_NUMBER}}" },
          { "name": "To", "value": "={{$json.phone}}" },
          { "name": "TimeLimit", "value": "1800" },
          { "name": "TimeOut", "value": "30" },
          { "name": "Url", "value": "={{$json.BASE_URL}}/webhook/exotel-call-connect" },
          { "name": "StatusCallback", "value": "={{$json.BASE_URL}}/webhook/exotel-call-status" },
          { "name": "StatusCallbackMethod", "value": "POST" }
        ]
      }
    },
    {
      "id": "WebhookConnect",
      "name": "Webhook Connect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 520],
      "parameters": {
        "path": "exotel-call-connect",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "exotel_call_connect"
    },
    {
      "id": "SetKeysConnect",
      "name": "Set Keys (Connect)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [420, 520],
      "parameters": {
        "values": {
          "string": [
            { "name": "GEMINI_API_KEY", "value": "AIzaSyCCl0BPaVedNDL1JwS1DbOnuV86AYC5Q3M" },
            { "name": "ELEVEN_API_KEY", "value": "sk_e8bceb0591abd261a41141185f6af7a85aa55f9f916a0866" },
            { "name": "ELEVEN_VOICE_ID", "value": "hyfnu3H2biW7xNFFVMIa" }
          ]
        }
      }
    },
    {
      "id": "GeminiGreeting",
      "name": "Gemini Greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 520],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$json.GEMINI_API_KEY}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "{\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"Generate a warm 1-2 sentence opening greeting for a student call about MHT-CET guidance.\"}]}]}"
      }
    },
    {
      "id": "PickGreeting",
      "name": "Pick Greeting",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [840, 520],
      "parameters": {
        "functionCode": "const text = $json.candidates?.[0]?.content?.parts?.[0]?.text || 'Hello! This is Priya from Campus Dekho. Are you preparing for MHT-CET?';\nreturn [{ text }];"
      }
    },
    {
      "id": "ElevenTTS",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 520],
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{$json.ELEVEN_VOICE_ID}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "responseFormat": "file",
        "bodyParametersJson": "{\"text\":\"{{$json.text}}\",\"model_id\":\"eleven_multilingual_v2\",\"voice_settings\":{\"stability\":0.35,\"similarity_boost\":0.8,\"style\":0.45,\"use_speaker_boost\":true}}",
        "headerParameters": [
          { "name": "xi-api-key", "value": "={{$json.ELEVEN_API_KEY}}" }
        ]
      }
    },
    {
      "id": "UploadAudio",
      "name": "Upload Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 520],
      "parameters": {
        "url": "https://tmpfiles.org/api/v1/upload",
        "method": "POST",
        "sendBody": true,
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      }
    },
    {
      "id": "BuildTwiMLConnect",
      "name": "Build TwiML (Connect)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1440, 520],
      "parameters": {
        "functionCode": "const url = $json.data?.url || '';\nconst playable = url.replace('tmpfiles.org/', 'tmpfiles.org/dl/');\nconst twiml = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n<Response>\\n  <Play>' + playable + '</Play>\\n  <Gather timeout=\"6\" numDigits=\"1\" action=\"https://synthomind.cloud/webhook/exotel-gather\" method=\"POST\">\\n    <Say voice=\"woman\">Press 1 for yes, 2 for no, or speak your response.</Say>\\n  </Gather>\\n  <Redirect method=\"POST\">https://synthomind.cloud/webhook/exotel-timeout</Redirect>\\n</Response>';\nreturn [{ twiml }];"
      }
    },
    {
      "id": "RespondConnect",
      "name": "Respond XML (Connect)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [1640, 520],
      "parameters": {
        "responseBody": "={{$json.twiml}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/xml" }
            ]
          }
        }
      }
    },
    {
      "id": "WebhookGather",
      "name": "Webhook Gather",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 860],
      "parameters": {
        "path": "exotel-gather",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "exotel_gather"
    },
    {
      "id": "BuildUserMessage",
      "name": "Build User Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [420, 860],
      "parameters": {
        "functionCode": "const digits = $json.body?.Digits;\nconst speech = $json.body?.SpeechResult;\nconst map = { '1': 'Yes, I am interested', '2': 'No, not interested', '3': 'Tell me more' };\nconst message = speech || map[digits] || 'Please continue';\nreturn [{ message }];"
      }
    },
    {
      "id": "SetKeysGather",
      "name": "Set Keys (Gather)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [640, 860],
      "parameters": {
        "values": {
          "string": [
            { "name": "GEMINI_API_KEY", "value": "AIzaSyCCl0BPaVedNDL1JwS1DbOnuV86AYC5Q3M" },
            { "name": "ELEVEN_API_KEY", "value": "sk_e8bceb0591abd261a41141185f6af7a85aa55f9f916a0866" },
            { "name": "ELEVEN_VOICE_ID", "value": "hyfnu3H2biW7xNFFVMIa" }
          ]
        }
      }
    },
    {
      "id": "GeminiReply",
      "name": "Gemini Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 860],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$json.GEMINI_API_KEY}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "{\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"Reply in 1-2 sentences to this student response about MHT-CET guidance: {{$json.message}}\"}]}]}"
      }
    },
    {
      "id": "PickReply",
      "name": "Pick Reply",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1060, 860],
      "parameters": {
        "functionCode": "const text = $json.candidates?.[0]?.content?.parts?.[0]?.text || 'Thanks for your response!';\nreturn [{ text }];"
      }
    },
    {
      "id": "ElevenTTS2",
      "name": "ElevenLabs TTS (Gather)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1260, 860],
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{$json.ELEVEN_VOICE_ID}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "responseFormat": "file",
        "bodyParametersJson": "{\"text\":\"{{$json.text}}\",\"model_id\":\"eleven_multilingual_v2\",\"voice_settings\":{\"stability\":0.35,\"similarity_boost\":0.8,\"style\":0.45,\"use_speaker_boost\":true}}",
        "headerParameters": [
          { "name": "xi-api-key", "value": "={{$json.ELEVEN_API_KEY}}" }
        ]
      }
    },
    {
      "id": "UploadAudio2",
      "name": "Upload Audio (Gather)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1460, 860],
      "parameters": {
        "url": "https://tmpfiles.org/api/v1/upload",
        "method": "POST",
        "sendBody": true,
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      }
    },
    {
      "id": "BuildTwiMLGather",
      "name": "Build TwiML (Gather)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1660, 860],
      "parameters": {
        "functionCode": "const url = $json.data?.url || '';\nconst playable = url.replace('tmpfiles.org/', 'tmpfiles.org/dl/');\nconst twiml = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n<Response>\\n  <Play>' + playable + '</Play>\\n  <Gather timeout=\"6\" numDigits=\"1\" action=\"https://synthomind.cloud/webhook/exotel-gather\" method=\"POST\">\\n    <Say voice=\"woman\">Press 1 for yes, 2 for no, or speak your response.</Say>\\n  </Gather>\\n  <Redirect method=\"POST\">https://synthomind.cloud/webhook/exotel-timeout</Redirect>\\n</Response>';\nreturn [{ twiml }];"
      }
    },
    {
      "id": "RespondGather",
      "name": "Respond XML (Gather)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [1860, 860],
      "parameters": {
        "responseBody": "={{$json.twiml}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/xml" }
            ]
          }
        }
      }
    },
    {
      "id": "WebhookTimeout",
      "name": "Webhook Timeout",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1160],
      "parameters": {
        "path": "exotel-timeout",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "exotel_timeout"
    },
    {
      "id": "RespondTimeout",
      "name": "Respond XML (Timeout)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [420, 1160],
      "parameters": {
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"woman\">Thank you for your time. Goodbye!</Say>\n  <Hangup/>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/xml" }
            ]
          }
        }
      }
    },
    {
      "id": "WebhookStatus",
      "name": "Webhook Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1400],
      "parameters": {
        "path": "exotel-call-status",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "exotel_call_status"
    },
    {
      "id": "RespondStatus",
      "name": "Respond OK (Status)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [420, 1400],
      "parameters": {
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [[{ "node": "Set Start Vars", "type": "main", "index": 0 }]]
    },
    "Set Start Vars": {
      "main": [[{ "node": "Build Exotel Auth", "type": "main", "index": 0 }]]
    },
    "Build Exotel Auth": {
      "main": [[{ "node": "Exotel Call Connect", "type": "main", "index": 0 }]]
    },
    "Webhook Connect": {
      "main": [[{ "node": "Set Keys (Connect)", "type": "main", "index": 0 }]]
    },
    "Set Keys (Connect)": {
      "main": [[{ "node": "Gemini Greeting", "type": "main", "index": 0 }]]
    },
    "Gemini Greeting": {
      "main": [[{ "node": "Pick Greeting", "type": "main", "index": 0 }]]
    },
    "Pick Greeting": {
      "main": [[{ "node": "ElevenLabs TTS", "type": "main", "index": 0 }]]
    },
    "ElevenLabs TTS": {
      "main": [[{ "node": "Upload Audio", "type": "main", "index": 0 }]]
    },
    "Upload Audio": {
      "main": [[{ "node": "Build TwiML (Connect)", "type": "main", "index": 0 }]]
    },
    "Build TwiML (Connect)": {
      "main": [[{ "node": "Respond XML (Connect)", "type": "main", "index": 0 }]]
    },
    "Webhook Gather": {
      "main": [[{ "node": "Build User Message", "type": "main", "index": 0 }]]
    },
    "Build User Message": {
      "main": [[{ "node": "Set Keys (Gather)", "type": "main", "index": 0 }]]
    },
    "Set Keys (Gather)": {
      "main": [[{ "node": "Gemini Reply", "type": "main", "index": 0 }]]
    },
    "Gemini Reply": {
      "main": [[{ "node": "Pick Reply", "type": "main", "index": 0 }]]
    },
    "Pick Reply": {
      "main": [[{ "node": "ElevenLabs TTS (Gather)", "type": "main", "index": 0 }]]
    },
    "ElevenLabs TTS (Gather)": {
      "main": [[{ "node": "Upload Audio (Gather)", "type": "main", "index": 0 }]]
    },
    "Upload Audio (Gather)": {
      "main": [[{ "node": "Build TwiML (Gather)", "type": "main", "index": 0 }]]
    },
    "Build TwiML (Gather)": {
      "main": [[{ "node": "Respond XML (Gather)", "type": "main", "index": 0 }]]
    },
    "Webhook Timeout": {
      "main": [[{ "node": "Respond XML (Timeout)", "type": "main", "index": 0 }]]
    },
    "Webhook Status": {
      "main": [[{ "node": "Respond OK (Status)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {}
}
